




<div class="jumbotron">
  <center><h1>Bienvenido a F5FACAT</h1>
  <p>Estaras enterado de todas las noticias de tu facultad y carrera correspondiente!!</p>
  <p><a class="btn btn-primary btn-lg">Ir a la pagina</a></p></center>
</div>

